@use 'styles/main';

%variants {

}

.container {
  @extend %variants;
  @extend %container;

  height: main.$height-container-header-mobile;

  @include main.media('>=#{main.$media-desktop-1024}') {
    display: none;
    visibility: hidden;
  }

  display: flex;
  justify-content: space-between;
}
