@use '../vendor/include-media_overwrite.scss' as libMedia;
@use './variables' as variables;

$container: 100rem;

%applyPaddingGutter {
  padding-left: variables.$space-gutter-20;
  padding-right: variables.$space-gutter-20;

  @include libMedia.media('>#{variables.$media-gutter-1350}') {
    padding-left: 0;
    padding-right: 0;
  }
}

%forceRemoveGutterWithNegativeMargin {
  margin-left: -#{variables.$space-gutter-20};
  margin-right: -#{variables.$space-gutter-20};

  @include libMedia.media('>#{variables.$media-gutter-1350}') {
    margin-left: 0;
    margin-right: 0;
  }
}

%container {
  max-width: $container;
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  @extend %applyPaddingGutter;
}

%containerPaddingLeftRight {
  padding: 0 2rem;

  @include libMedia.media('>=#{variables.$media-gutter-1350}') {
    padding: 0;
  }
}
