@use 'styles/main' as main;

.containerMenu {
  @include main.defineFlex(column);
  @include main.centerAbsolute;
  position: fixed;

  z-index: main.$z-index-menu-mobile-50;
  background: main.$background-color-container-primary;

  button[data-close-modal] {
    position: absolute;
    top: 2rem;
    left: 2rem;

    cursor: pointer;
    background-color: transparent;
  }

  .linkMenu {
    font-size: 2.5rem;
    line-height: 2.5rem+.2rem;
    font-weight: 500;
    color: main.$text-color-primary;
    letter-spacing: .3rem;

    &:hover {
      color: main.$text-color-secondary;
    }

    &:not(:last-of-type) {
      margin-bottom: 2.5rem;
    }
  }
}

.containerMenu.isOpen {
  animation: ease-in main.$transition-fast open both;
  z-index: main.$z-index-always-on-top-100;
}

.containerMenu.isOpen.menuClosing {
  animation: ease-in-out main.$transition-fast close both;
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    transform: none;
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
