import styles from './styles.module.scss'
import React from 'react'

const {{pascalCase name}} = () => (
  <div data-component-{{dashCase name}} className={styles.wrapper}>
    <h1>{{dashCase name}}</h1>
  </div>
)

export default {{pascalCase name}}
