import React from 'react'
import styles from './styles.module.scss'

import { AtomsDefaultProps } from 'components/atoms/utils'

export type {{pascalCase name}}Props = & AtomsDefaultProps<any, any>

export const {{pascalCase name}} = ({ children, className }: {{pascalCase name}}Props) => {
  return (
    <div data-component-{{dashCase name}}={true} className={`${styles.container} ${className}/`}>
      {children}
    </div>
  )
}
