@use 'styles/main';

%variants {
  &.primary {
    background-color: main.$color-primary;

    &:hover {
      background-color: darken(main.$color-primary, 10%);
    }
  }

  &.smallRounded {
    border-radius: 1rem;
  }

  &.fullWidth {
    width: 100%;
  }

  &.withIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.container {
  @extend %variants;

  padding: .8rem 1rem;
}
